<div class="row mt-5">
    <div class="col-12">
        <div class="page-section game-info bg-mid">
            <div class="row">
                <div class="col d-flex justify-content-between">
                    <div>
                        <h3>GAME CHATTER</h3>
                    </div>
                    <div>130 COMMENTS</div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12">
                    {{#each this}}
                    <div class="comment">
                        <div class="comment-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="..."
                                        class="comment-img">
                                </div>
                                <div class="flex-grow-1 ms-3 flex-column">
                                    <p>{{comment_text}}</p>
                                    <div class="comment-meta">
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><i class="fas fa-user-alt"></i>{{user.username}}</li>
                                            <li class="list-inline-item"><i class="fas fa-calendar-alt"></i>{{format_date created_at}}</li>
                                            <li class="list-inline-item"><a href=""><i class="far fa-edit"></i>Edit</a></li>
                                            <li class="list-inline-item"><a href="#"><i class="far fa-trash-alt"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end comment-->
                    {{/each}}

                    <form action="">
                        <div class="mb-3">
                            <textarea class="form-control" rows="4"></textarea>
                        </div>
                        <button type="button" class="btn btn-primary">POST COMMENT</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>