     <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="game-card d-flex justify-content-between">
                                        <div class="row">
                                            <div class="col-md-3 team-content">
                                                <img src="https://upload.wikimedia.org/wikipedia/en/0/02/Washington_Wizards_logo.svg"
                                                    alt="" class="img-fluid">
                                            </div>
                                            <div class="col-md-6 game-detail text-center">
                                                <h3>HOME TEAM</h3>
                                                <h3 class="small">VS</h3>
                                                <h3>AWAY TEAM</h3>
                                            </div>
                                            <div class="col-md-3 team-content">
                                                <img src="https://upload.wikimedia.org/wikipedia/en/0/02/Washington_Wizards_logo.svg"
                                                    alt="" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="game-card d-flex justify-content-between">
                                        <div class="row">
                                            <div class="col-md-3 team-content">
                                                <img src="https://upload.wikimedia.org/wikipedia/en/0/02/Washington_Wizards_logo.svg"
                                                    alt="" class="img-fluid">
                                            </div>
                                            <div class="col-md-6 game-detail text-center">
                                                <h3>HOME TEAM</h3>
                                                <h3 class="small">VS</h3>
                                                <h3>AWAY TEAM</h3>
                                            </div>
                                            <div class="col-md-3 team-content">
                                                <img src="https://upload.wikimedia.org/wikipedia/en/0/02/Washington_Wizards_logo.svg"
                                                    alt="" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="game-card d-flex justify-content-between">
                                        <div class="row">
                                            <div class="col-md-3 team-content">
                                                <img src="https://upload.wikimedia.org/wikipedia/en/0/02/Washington_Wizards_logo.svg"
                                                    alt="" class="img-fluid">
                                            </div>
                                            <div class="col-md-6 game-detail text-center">
                                                <h3>HOME TEAM</h3>
                                                <h3 class="small">VS</h3>
                                                <h3>AWAY TEAM</h3>
                                            </div>
                                            <div class="col-md-3 team-content">
                                                <img src="https://upload.wikimedia.org/wikipedia/en/0/02/Washington_Wizards_logo.svg"
                                                    alt="" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="game-card d-flex justify-content-between">
                                        <div class="row">
                                            <div class="col-md-3 team-content">
                                                <img src="https://upload.wikimedia.org/wikipedia/en/0/02/Washington_Wizards_logo.svg"
                                                    alt="" class="img-fluid">
                                            </div>
                                            <div class="col-md-6 game-detail text-center">
                                                <h3>HOME TEAM</h3>
                                                <h3 class="small">VS</h3>
                                                <h3>AWAY TEAM</h3>
                                            </div>
                                            <div class="col-md-3 team-content">
                                                <img src="https://upload.wikimedia.org/wikipedia/en/0/02/Washington_Wizards_logo.svg"
                                                    alt="" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="game-card d-flex justify-content-between">
                                        <div class="row">
                                            <div class="col-md-3 team-content">
                                                <img src="https://upload.wikimedia.org/wikipedia/en/0/02/Washington_Wizards_logo.svg"
                                                    alt="" class="img-fluid">
                                            </div>
                                            <div class="col-md-6 game-detail text-center">
                                                <h3>HOME TEAM</h3>
                                                <h3 class="small">VS</h3>
                                                <h3>AWAY TEAM</h3>
                                            </div>
                                            <div class="col-md-3 team-content">
                                                <img src="https://upload.wikimedia.org/wikipedia/en/0/02/Washington_Wizards_logo.svg"
                                                    alt="" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h1 class="section-title">NEWS</h1>
                            <div class="news-container">
                                <div class="news-article">
                                    <div class="news-body">
                                        <h3>NEW ARTICLE TITLE</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci accusamus ad, doloremque, nisi temporibus totam, porro atque sunt nam harum distinctio iste qui minus voluptas voluptatibus pariatur error commodi maxime.</p>
                                        <a href="">Read More <i class="fas fa-arrow-right"></i></a>
                                        <div class="news-footer">
                                            <i class="far fa-calendar-alt"></i> Date Posted
                                        </div>
                                    </div>
                                </div>
                                <div class="news-article">
                                    <div class="news-body">
                                        <h3>NEW ARTICLE TITLE</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci accusamus ad, doloremque, nisi temporibus totam, porro atque sunt nam harum distinctio iste qui minus voluptas voluptatibus pariatur error commodi maxime.</p>
                                        <a href="">Read More <i class="fas fa-arrow-right"></i></a>
                                        <div class="news-footer">
                                            <i class="far fa-calendar-alt"></i> Date Posted
                                        </div>
                                    </div>
                                </div>
                                <div class="news-article">
                                    <div class="news-body">
                                        <h3>NEW ARTICLE TITLE</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci accusamus ad, doloremque, nisi temporibus totam, porro atque sunt nam harum distinctio iste qui minus voluptas voluptatibus pariatur error commodi maxime.</p>
                                        <a href="">Read More <i class="fas fa-arrow-right"></i></a>
                                        <div class="news-footer">
                                            <i class="far fa-calendar-alt"></i> Date Posted
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>