<div class="sign-up-form container">
  <div class="row d-flex justify-content-center">
    <div class="col">
      <!-- <div class="row">
                      <div class="col-12">
                          <h1 class="section-title">FEATURE GAME</h1>
                      </div>
                  </div> -->
      <div class="row">
        <div class="col-12">
          <div id="sign-up-container" class="container d-flex flex-wrap justify-content-center">
            <div class="col-12 col-sm-12 col-xs-12 d-flex flex-wrap justify-content-center">
              <div id="login-card" class="card">
                <div class="card-header">
                  <h3>Login</h3>
                  <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <!-- <a href="#" target="_blank" class="icon-facebook">
                                      <i class="fab fa-facebook-f">
                                      </i>
                                    </a> -->
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <!-- <a href="#" target="_blank" class="icon-google_plus">
                                      <i class="fab fa-google-plus-g">
                                      </i>
                                    </a> -->
                    <span><i class="fab fa-twitter-square"></i></span>
                    <!-- <a href="#" target="_blank" class="icon-google_plus">
                                      <i class="fab fa-google-plus-g">
                                      </i>
                                    </a> -->
                  </div>
                </div>
                <div id="login-body" class="card-body">
                  <form>
                    <div class="input-group form-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                      </div>
                      <input id="email-login" type="text" class="form-control" placeholder="Enter Email" />
                    </div>
                    <div class="input-group form-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                      </div>
                      <input id="password-login" type="password" class="form-control" placeholder="Password" />
                    </div>
                    <div class="row align-items-center remember mt-3">
                      <input type="checkbox" />Remember Me
                    </div>
                    <div class="d-flex justify-content-end form-group mt-3">
                      <button id="login" type="submit" class="btn btn-primary">LOGIN</button>
                    </div>
                  </form>
                </div>
                <div class="card-footer">
                  <div class="d-flex justify-content-center links">
                    Don't have an account?<a class="btn-hover" href="/signup">Sign Up</a>
                  </div>
                  <!-- <div class="d-flex justify-content-center">
                                                      <a href="#">Forgot your password?</a>
                                                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script src="/assets/javascript/login.js"></script>
