

        <div class="container mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-12 g-0">
                            <div>
                                <h1 class="page-title">PROFILE</h1>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-12 page-section bg-mid">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <div class="profile-img mb-3">
                                            <img src="assets/images/avatars/01.svg" class="profile-image img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-6 col-sm-12">
                                        <form action="" class="avatar-form">
                                        <ul class="list-unstyled profile-data">
                                            <li><h2>Username</h2></li>
                                            <li><span>Member Since: </span>2009</li>
                                            <li><span>Favorite Team: </span>
                                            <select class="form-select mt-1">
                                                <option>Select Favorite Team</option>
                                            </select>
                                            </li>
                                        </ul>
                                        
                                            <h2 class="pb-2">Choose an Avatar</h2>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="avatarselect">
                                                <label class="form-check-label avatar-label" for="avatarselect">
                                                    <img src="/assets/images/avatars/01.svg" alt="" class="img-fluid avatar">
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="avatarselect">
                                                <label class="form-check-label avatar-label" for="avatarselect">
                                                    <img src="/assets/images/avatars/02.svg" alt="" class="img-fluid avatar">
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="avatarselect">
                                                <label class="form-check-label avatar-label" for="avatarselect">
                                                    <img src="/assets/images/avatars/03.svg" alt="" class="img-fluid avatar">
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="avatarselect">
                                                <label class="form-check-label avatar-label" for="avatarselect">
                                                    <img src="/assets/images/avatars/04.svg" alt="" class="img-fluid avatar">
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="avatarselect">
                                                <label class="form-check-label avatar-label" for="avatarselect">
                                                    <img src="/assets/images/avatars/05.svg" alt="" class="img-fluid avatar">
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="avatarselect">
                                                <label class="form-check-label avatar-label" for="avatarselect">
                                                    <img src="/assets/images/avatars/06.svg" alt="" class="img-fluid avatar">
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="avatarselect">
                                                <label class="form-check-label avatar-label" for="avatarselect">
                                                    <img src="/assets/images/avatars/nba-logo.svg" alt="" class="img-fluid avatar">
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="avatarselect">
                                                <label class="form-check-label avatar-label" for="avatarselect">
                                                    Your favorite team
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <div class="d-grid gap-2">
                                            <a href="#" class="btn btn-primary algiin"><i class="fas fa-user-edit"></i> Save Changes</a>

                                            <a href="#" class="btn btn-danger text-left"><i class="fas fa-trash"></i> DELETE ACCOUNT</a>
                                        </div>
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

  