:root {
    --blue: #1e90ff;
    --white: #d9d9d9;
    --darkbg: #15181A;
    --bradius: 4px;
    --green: #4edc16;
  }

html, body {
    background:#212427;
    font-family: 'Barlow', sans-serif;
    color: #f3f3f3;
}

.carousel.slide {
    background: var(--darkbg);
    border-radius: var(--bradius);
    padding: 2.5rem;
}

.post-date {
    display: block;
    color: #9f9f9f;
    padding-top: .5rem;
}
.page-title {
    padding: 2rem 0;
}

.carousel-indicators {
    left: auto;
    margin-right: 5%;
}
a {
    transition: all ease .3s;
    color: var(--white);
    text-decoration: none;
}
a:hover {
    color: var(--green);
}
.subnav {
    font-size: 1.2rem;
    font-weight: 200;
    padding: 1rem 0;
}

.game-card {
    background: var(--darkbg);
    border-radius: var(--bradius);
    padding: 2rem;
    cursor: pointer;
}
footer {
    margin-top: 3rem;
}