:root {
    --blue: #1e90ff;
    --white: #d9d9d9;
    --darkbg: #1b1b1b;
    --bradius: 6px;
    --green: #4edc16;
    
  }
  .bg-dark {
      background: var(--darkbg) !important;
  }
  .btn {
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: .1rem;
  }
.btn-primary {
    background: var(--green);
    border-color: #45c014;
}
.btn-primary:hover {
  background-color: #2e8a0a;
  border-color: #45c014;
}
.btn-outline {
  border-color: var(--green);
  color: #fff;
}
.btn-outline:hover {
  background-color: var(--green);
}
html,
body {
  background: #151515;
  font-family: "Barlow", sans-serif;
  color: #f3f3f3;
}

.carousel.slide {
  background: var(--darkbg);
  border-radius: var(--bradius);
}

.post-date {
  display: block;
  color: #9f9f9f;
  padding-top: 0.5rem;
}
.section-title {
  padding: 1rem 0;
  margin-bottom: 0;
}

.carousel-indicators {
  left: auto;
  margin-right: 5%;
}
a {
  transition: all ease 0.3s;
  color: var(--white);
  text-decoration: none;
}
a:hover {
  color: var(--green);
}
.subnav {
  font-size: 1.2rem;
  font-weight: 200;
  margin-bottom: 0;
}
.navbar-dark .navbar-nav .nav-link {
  border-top: 3px solid rgba(0, 0, 0, 0);
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--green);
  border-top: 3px solid var(--green);
}

.game-card {
  background: var(--darkbg);
  border-radius: var(--bradius);
  padding: 2rem;
  cursor: pointer;
  transition: all ease 0.3s;
  border: 1px solid rgba(0, 0, 0, 0);
  margin-bottom: 1rem;
}
.game-card:hover {
  border: 1px solid rgba(78, 220, 22, 0.35);
  -webkit-box-shadow: 0px 0px 15px -3px rgba(78, 220, 22, 0.3);
  box-shadow: 0px 0px 15px -3px rgba(78, 220, 22, 0.3);
}
footer {
  margin-top: 3rem;
}
.MIN{
  max-height: 100px;
  overflow: hidden;
}
.carousel-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 650px;
}
.news-container {
  background: var(--darkbg);
}
.news-article {
  padding: 2rem;
  border-radius: var(--bradius);
}
.news-footer {
  padding-top: 1rem;
  color: #a0a0a0;
}
.navbar-brand img {
  max-width: 50px;
  max-height: 45px;
}
nav {
  padding: 0.5rem 1rem;
  border-top: 4px solid var(--green);
}
.carousel-indicators [data-bs-target] {
  height: 5px;
  opacity: 1;
  width: 25px;
}
.carousel-indicators .active[data-bs-target] {
  background-color: var(--green);
}
.hero {
  margin-bottom: 50px;
}
.hero-text {
  padding: 2rem;
}
.hero-text h1 {
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;
}
.sports-filter-nav {
    padding: 0 1rem;
    background: var(--darkbg  );
}
.page-title {
    display: flex;
    padding-left: 0;
}

.bg-mid{
    background: #222;
}
.page-section {
    padding: 1.5rem;
    border-radius: var(--bradius);
}
.team-content img {
  height: 85px;
  height: 85px;
  min-width: 50px;
}
.game-detail h3{
  font-size: 1.5rem;
  font-weight: 800;
}
/*------------
=============
SINGLE GAME
=============
-------------*/
.single-game {
    background: var(--darkbg);
    border-radius: var(--bradius);
    padding: 2rem;
    
}

h3.score {
    font-size: 3rem;
}
.time {
    font-size: 1.5rem;
    padding: 0 1rem;
}
.comment {
    background: #272727;
    padding: 1.5rem;
    border-radius: var(--bradius);
    margin: 1rem 0;
}
.comment-meta {
    margin-top: .5rem;
}
.comment-meta, .comment-meta a {
    color: rgba(255,255,255, .3);
}
.comment-meta ul {
    margin-bottom: 0;
}
.comment-meta li i{
 padding-right: 5px;
}
.comment-img {
    width: 50px;
}

/*------------
=============
PROFILE
=============
-------------*/
.profile-img {
    background: #333;
} */
.profile-data li span {
    font-weight: 600;
}

/*------------
=============
SHOP
=============
-------------*/


#cart input[type=number] {
    max-width: 50px;
}
/*------------
=============
SLICK SLIDE
=============
-------------*/

.slick-prev, .slick-next {
  top: auto;
  bottom: -30px;
}
.slick-prev {
  left: 0;
}
.slick-next {
  left: 30px;
}

.vote-container {
  padding: 1rem;
  margin-bottom: 1rem;
  background: var(--darkbg);
  border-radius: var(--bradius);
}
.vote-count {
  padding-right: 20px;
}
.mobile-game {
  padding: 2rem 0;
}
.mobile-game img {
  height: 200px;
}
@media only screen and (max-width: 600px) {
  .vs {
    padding: 1rem 0;
    display: block;
  }
  .page-title {
    text-align: center;
    display: block;
  }
  .vote-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
}

