:root {
  --blue: #1e90ff;
  --white: #d9d9d9;
  --darkbg: #1b1b1b;
  --bradius: 6px;
  --green: #4edc16;
}
.btn {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
.btn-primary {
  background: var(--green);
  border-color: #45c014;
  padding: 0.5rem 2rem;
}
.btn-primary:hover {
  background-color: #2e8a0a;
  border-color: #45c014;
}
.btn-outline {
  border-color: var(--green);
  color: #fff;
}
.btn-outline:hover {
  background-color: var(--green);
}
html,
body {
  background: #151515;
  font-family: "Barlow", sans-serif;
  color: #f3f3f3;
}

.carousel.slide {
  background: var(--darkbg);
  border-radius: var(--bradius);
}

.post-date {
  display: block;
  color: #9f9f9f;
  padding-top: 0.5rem;
}
.section-title {
  padding: 1rem 0;
  margin-bottom: 0;
}

.carousel-indicators {
  left: auto;
  margin-right: 5%;
}
a {
  transition: all ease 0.3s;
  color: var(--white);
  text-decoration: none;
}
a:hover {
  color: var(--green);
}
.subnav {
  font-size: 1.2rem;
  font-weight: 200;
  margin-bottom: 0;
}
.navbar-dark .navbar-nav .nav-link {
  border-top: 3px solid rgba(0, 0, 0, 0);
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--green);
  border-top: 3px solid var(--green);
}

.game-card {
  background: var(--darkbg);
  border-radius: var(--bradius);
  padding: 2rem;
  cursor: pointer;
  transition: all ease 0.3s;
  border: 1px solid rgba(0, 0, 0, 0);
}
.game-card:hover {
  border: 1px solid rgba(78, 220, 22, 0.35);
  -webkit-box-shadow: 0px 0px 15px -3px rgba(78, 220, 22, 0.3);
  box-shadow: 0px 0px 15px -3px rgba(78, 220, 22, 0.3);
}
footer {
  margin-top: 3rem;
}

.carousel-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 650px;
}
.news-container {
  background: var(--darkbg);
}
.news-article {
  padding: 2rem;
  border-radius: var(--bradius);
}
.news-footer {
  padding-top: 1rem;
  color: #a0a0a0;
}
.navbar-brand img {
  max-width: 50px;
}
nav {
  padding: 0.5rem 1rem;
  border-top: 4px solid var(--green);
}
.carousel-indicators [data-bs-target] {
  height: 5px;
  opacity: 1;
  width: 25px;
}
.carousel-indicators .active[data-bs-target] {
  background-color: var(--green);
}
.hero {
  margin-bottom: 50px;
}
.hero-text {
  padding: 2rem;
}
.hero-text h1 {
  font-size: 5rem;
  font-weight: 800;
  text-transform: uppercase;
}
.sports-filter-nav {
  padding: 0 1rem;
  background: var(--darkbg);
}
